<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="NumberOfRows" value="26"/>
		<add key="NumberOfColumns" value="26"/>
		<add key="SubGridRows" value="4"/>
		<add key="SubGridColumns" value="6"/>
		<add key="RunOnStart" value="false"/>
		<add key="Opacity" value="0.1"/>
		<add key="FontColor" value="#FFFFFFFF" />
		<add key="Background" value="#FF9F7462" />
		<add key="Drag1Value" value="#FFADE1AD" />
		<add key="Drag2Value" value="#FFB8DAF6" />
	</appSettings>
</configuration>
