<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="NumberOfRows" value="26"/>
		<add key="NumberOfColumns" value="26"/>
		<add key="SubGridRows" value="4"/>
		<add key="SubGridColumns" value="6"/>
		<add key="RunOnStart" value="false"/>
		<add key="Opacity" value="0.2"/>
		<add key="FontColor" value="#FF000000"/>
		<add key="Background" value="#FF000000"/>
		<add key="Drag1Value" value="#FF000000"/>
		<add key="Drag2Value" value="#FF000000"/>
	</appSettings>
</configuration>
